<div class="container my-5">
  <h2 class="mb-5 text-center">お問い合わせが完了しました。</h2>
  <p class="text-center">
    恐れ入りますが、回答までしばらくお待ちください。<br>
    今後とも、MyFlightLogのご利用をどうぞよろしくお願いいたします。
  </p>
  <div class="d-flex justify-content-center mt-5">
    <%= link_to 'トップ画面に戻る', logs_path, class: 'btn btn-outline-secondary' %>
</div>
