// Place all the styles related to the admins/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* Users#index
---------------------------- */

.admin-search-form {
  justify-content: flex-end;
  text-align: right;
}

/* レスポンシブ対応
---------------------------- */
/* admins#users
---------------------------- */

// スマホではIDと名前と編集ボタンだけ表示
@media screen and (max-width:425px) {
  .users-table th:nth-child(3),
  .users-table th:nth-child(4),
  .users-table th:nth-child(5),
  .users-table td:nth-child(3),
  .users-table td:nth-child(4),
  .users-table td:nth-child(5) {
    display: none;
  }
}