<h2>お気に入り一覧</h2>
<% @logs.each do |log| %>
  <%= link_to show_date(log.date), log_path(log) %>
  <% if log.favorited_by?(current_user) %>
    <%= link_to '★', log_favorites_path(log), method: :delete %>
  <% else %>
    <%= link_to '☆', log_favorites_path(log), method: :post %>
  <% end %>
  <br>
<% end %>