<div class="container my-5">
  <div class="my-3 text-center">
    <h4>年間フライト数</h4>
  </div>

  <div class="row">
    <div class="col-lg-8 mx-auto">
      <%= line_chart @line_data, colors: ["rgba(80,126,164,1)", "rgba(200,112,126,1)"], min: 0, max: 10, suffix: '回' %>
    </div>
  </div>

  <div class="row justify-content-center mt-5">
    <%= link_to '<　円グラフに戻る', stats_logs_path , class: 'btn btn-outline-secondary mr-3' %>
    <%= link_to '地図を見る　>', map_logs_path, class: 'btn btn-outline-secondary', 'data-turbolinks': false  %>
  </div>
</div>