<h2>ログ統計</h2>
<h4>総フライト数</h4>
<%= @total_number %>
<h4>総フライトタイム</h4>
<%= @total_hours %>
<br>
<h4>空港</h4>
<canvas id="airportPieChart">
</canvas>

<script>
  $(document).on('turbolinks:load', function( ){
    var ctx = document.getElementById("airportPieChart");
    var airportPieChart = new Chart(ctx, {
      type: 'pie',
      data: {
        labels: ["賛成", "反対", "わからない", "未回答"], //データ項目のラベル
        datasets: [{
            backgroundColor: [
                "#c97586",
                "#bbbcde",
                "#93b881",
                "#e6b422"
            ],
            data: [45, 32, 18, 5] //グラフのデータ
        }]
      },
      options: {
        title: {
          display: true,
          //グラフタイトル
          text: '新法案賛否'
        }
      }
    });
  });
</script>

<%= link_to 'グラフを見る', graph_log_path %>
<%= link_to '地図を見る', map_log_path %>