<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-lg-5 text-center">
      <h4>総フライト数</h4>
      <%= @total_number %>回
    </div>
    <div class="col-lg-5 text-center">
      <h4>総フライトタイム</h4>
      <%= @total_hours %>
    </div>
  </div>
  <!--グラフのサイズあとで変更する！-->
  <div class="row justify-content-center my-5">
    <div class="col-lg-3">
      <canvas id="airportPieChart"></canvas>
    </div>
    <div class="col-lg-3 offset-lg-2">
      <canvas id="airlinePieChart"></canvas>
    </div>
  </div>
  <div class="row justify-content-end">
    <%= link_to 'グラフを見る　>', graph_log_path , class: 'btn btn-outline-secondary mr-3' %>
    <%= link_to '地図を見る　>', map_log_path, class: 'btn btn-outline-secondary' %>
  </div>
</div>