// Place all the styles related to the public/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* homes#top
---------------------------- */

.top-wrapper {
  width: 100%;
  min-height: 100vh;
  background: image-url('homeback_m.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.login-buttons a:nth-child(2) {
  margin: 0 20px;
}


/* homes#about
---------------------------- */

.about-wrapper {
  margin: 50px auto;
  text-align: center;
}

.about-detail-wrapper1 {
  margin: 0 auto;
  width: 800px;
  height: 200px;
  background-image: image-url("sunrise.jpg");
  background-size: cover;
}

.about-detail-wrapper2 {
  margin: 0 auto;
  width: 800px;
  height: 200px;
  background-image: image-url("nature.jpg");
  background-size: cover;
}

// .about-detail1 {
//   background-image: image-url("sunrise.jpg");
//   background-size: cover;
// }

// .about-detail2 {
//   background-image: image-url("nature.jpg");
//   background-size: cover;
// }

.about-p {
  width: 400px;
  height: 200px;
  background-color: rgba( 255, 255, 255, 0.45 );
}

.about-image {
  margin-top: 50px;
  width: 800px;
  height: 500px;
}



/* レスポンシブ対応
---------------------------- */
/* Homes#top
---------------------------- */

@media screen and (max-width:425px) {
  .login-buttons {
    flex-direction: column;
  }

  .login-buttons a {
    margin: 0 auto;
  }

  .login-buttons a:nth-child(2) {
    margin: 20px auto;
  }


/* Homes#about
---------------------------- */

  .about-detail-wrapper1 {
    width: 100%;
  }

  .about-detail-wrapper2 {
    width: 100%;
  }

  .about-detail1 {
    width: 100%;
  }

  .about-detail2 {
    width: 100%;
  }

  .about-p {
    width: 100%;
    height: 100%;
    margin-bottom: 0;
  }

  .about-p:nth-child(2) {
    padding: 10px;
  }
}

