// Place all the styles related to the public/logs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Logs#index
---------------------------- */

.search-form {
  justify-content: flex-end;
}

.search-form a {
  color: #000000;
}

.logs-index {
  margin: 10px;
  text-align: center;
}

.logs-index a {
  color: #000000;
}



/* 地図表示
---------------------------- */

#map {
  width: 100%;
  height: 400px;
}