// Place all the styles related to the public/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* users#login
---------------------------- */

.login-background {
  padding: 30px;
  border-radius: 15px;
  box-shadow: 15px 15px 0px rgba(0,0,0,.1);
  background-color: #ffffff;
}


/* users#show
---------------------------- */

.mypage-wrapper {
  background-color: #ffffff;
}

.mypage-header {
  background-image: image-url('mypage_m.jpg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.mypage-header h3 {
  background-color: rgba( 255, 255, 255, 0.45 );
}
