<div class="container">
  <div class="row">
    <div class="col-lg-5 mx-auto">
        <p>
          MyFlightLogでは、飛行機の搭乗履歴を記録し<br>
          お気に入りのフライトを登録したり、履歴を検索できます。<br>
          また、今までのフライト数を数値やグラフで見たり、<br>
          訪れた空港を地図で見ることができます。
        </p>
    </div>
  </div>
</div>
