<div class="container">
  <div class="row">
    <div class="col-lg-5 mx-auto">
        <p>Logo</p>
        <div>Have a good flight!</div>
        <div><%= link_to 'MyFlightLogとは？', about_path %></div>
    </div>
  </div>
  <div class="row">
    <%= link_to '新規登録', new_user_registration_path %>
    <%= link_to 'ゲストログイン', users_guest_sign_in_path, method: :post %>
    <%= link_to 'ログイン', new_user_session_path %>
  </div>
</div>