<div class="container my-5">
  <div class="login-background col-lg-7 text-center mx-auto">
    <h2>管理者ログイン <i class="fas fa-plane fa-xs"></i></h2>

    <%= form_with model: @admin, url: admin_session_path, local: true do |f| %>
      <div class="field mt-4">
        <%= f.email_field :email, placeholder: 'メールアドレス', autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field mt-4">
        <%= f.password_field :password, placeholder: 'パスワード', autocomplete: "current-password" %>
      </div>

      <div class="actions mt-3">
        <%= f.submit "ログイン", class: 'btn btn-outline-secondary' %>
      </div>
    <% end %>
  </div>
</div>