/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #e6e6e6;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}


/* メイン
---------------------------- */

.alert {
  margin: 0;
}


/* ページネーション
---------------------------- */

.pagination {
  margin-bottom: 0;
}

.pagination li a {
  margin-right: 5px;
  border: none;
  background: rgba(255,255,255,0.5);
  color: #696969;
}

.page-item.active .page-link {
  border: none;
  background-color: #a9a9a9;
  border-color: #007bff;
}



/* ヘッダー
---------------------------- */

header {
  background-color: #006699;
  color: #ffffff;
}

.nav-item {
  margin: 0 10px;
}

.nav-item a {
  color: #ffffff;
  text-decoration: none;
}


/* フッター
---------------------------- */

footer {
  //フッターを最下部に固定
  margin-top: auto;
  background-color: #006699;
  color: #ffffff;
}

.copyright div {
  margin: 0 auto;
}

.contact a {
  margin-left: auto;
  color: #ffffff;
  text-decoration: none;
}
