/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #e6e6e6;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

body #content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* ヘッダー
---------------------------- */

header {
  background-color: #58bedf;
  color: #ffffff;
}

.nav-item {
  margin: 0 10px;
}

.nav-item a {
  color: #ffffff;
  text-decoration: none;
}


/* フッター
---------------------------- */

footer {
  //フッターを最下部に固定
  margin-top: auto;
  background-color: #58bedf;
  color: #ffffff;
}

.copyright div {
  margin: 0 auto;
}

.contact a {
  margin-left: auto;
  color: #ffffff;
  text-decoration: none;
}