<footer>
  <div class='container mt-3'>
    <div class='row'>
      <div class='mx-auto'>
        <p>CopyRight Infratop.inc</p>
      </div>
      <%= link_to 'お問い合わせ', new_contact_path %>
    </div>
  </div>
</footer>