<footer>
  <div class='container my-3'>
    <div class='row copyright'>
      <div>CopyRight Infratop.inc</div>
    </div>
    <div class='row contact'>
      <%= link_to 'お問い合わせ', new_contact_path %>
    </div>
  </div>
</footer>